[Unit]
Description=Daily Health Check Email Timer
Requires=health-check-email.service

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true

[Install]
WantedBy=timers.target
